<div *ngIf="userInfos | async as userinfos">
  <div class="userinfos">
    <img
      *ngIf="userinfos.avatarUrl"
      class="userinfos__img"
      [src]="userinfos.avatarUrl"
    />
    <span class="userinfos__name">{{ userinfos.name }}</span>
  </div>
  <div class="list-group">
    <a
      class="list-group-item list-group-item-action"
      *ngFor="let repo of userinfos.repositorys | keyvalue"
      [routerLink]="['/repository', repo.key]"
    >
      <i class="bi bi-archive"></i>
      {{ repo.key }}
    </a>
  </div>
</div>
